.App {
}

h1 {
  text-align: center;
  margin-top: 300px;
}

.text {
  font-size: 16;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

  margin-left: 50px;

  margin-top: 500px;
  margin-bottom: 700px;
}

.fadeContainer {
  position: absolute;
  right: 0;
  height: 2900px;
  width: 50%;
}

.fade {
  position: sticky;
  right: 0;
  top: 50%;
  margin-top: 0;
  width: 50%;
}

.fade img {
  position: absolute;
  width: 480px;
  height: 270px;
  object-fit:cover;
  margin-top: -135px;
  opacity: 0;
}
